* {
    margin: 0;
    padding: 0;
    font-weight: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Noto Serif JP', serif;
}

a {
    font-family: 'Noto Serif JP', serif;
    color: black;
    text-decoration: none;
}

/* //////////////////////////////////// */
/* //////////// @FONT-FACE //////////// */
/* //////////////////////////////////// */


/* //////////////////////////////////// */
/* ////////////// HEADER ////////////// */
/* //////////////////////////////////// */

#header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 35px;
    height: 20px;
}

#header img {
    width: 150px;
}

#header #informations {
    position: fixed;
    right: 45px;
    top: 45px;
}

#header #informations p {
    display: inline;
    margin-left: 25px;
}

#header #informations p:hover {
    color: gray;
    cursor: pointer;
}



@media (max-aspect-ratio: 100/99) {

    #header img {
        width: 200px;
    }

    #header #informations p {
        font-size: 25px;
    }

}