#presentation_projet {
    margin-top: 150px;
    margin-left: 35px;
    width: 21vw;
    position: fixed;
    display: inline-block;
}

#presentation_projet a {
    font-size: 18px;
}


h1 {
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    /* display: inline; */
    font-size: 15px;
    /* display: inline; */
    margin-bottom: 15px;
}

#presentation_projet a {
    text-decoration: underline;
}

#presentation_projet a:hover {
    text-decoration: none;
}

#presentation_projet .date,
#presentation_projet #tags,
#presentation_projet #tags a {
    font-size: 15px;
}

#tags,
#description {
    margin: 15px 0 15px 0;
}

#description {
    margin-bottom: 50px;
}

#description p {
    display: inline;
    font-size: 15px;
    font-weight: 200;
}

#images {
    display: inline-block;
    width: 70vw;
    margin-left: 27vw;
    margin-top: 150px;
    /* border: 1px solid; */
}

#images p {
    font-size: 15px;
    margin-top: 35px;
    margin-bottom: 30px;
    width: 50%;
    font-weight: 200;
    /* border: 1px solid; */
}


#images .ligne {
    width: 100%;
    border-bottom: 1px solid black;
    margin: 60px 0 60px 0;
}

#images img {
    /* margin-bottom: 10px; */
    vertical-align: top;
    /* padding: 3px; */
    border: 5px solid white;
}


#images p .soustitre {
    font-weight: 500;
}

.img10 {
    width: 9.5%;
}

.img20 {
    width: 19.5%;
}

.img30 {
    width: 29.5%;
}

.img33 {
    width: 32.9%;
    /* border: 1px solid; */
}

.img40 {
    width: 39.5%;
}

.img50 {
    width: 49.5%;
}

.img50 {
    width: 49.5%;
}

.img60 {
    width: 59.5%;
}

.img66 {
    width: 66.2%;
    /* border: 1px solid; */
}

.img70 {
    width: 69.5%;
}

.img80 {
    width: 79.5%;
}

.img90 {
    width: 89.5%;
}

.img100 {
    width: 99.5%;
}

@media (max-aspect-ratio: 100/99) {

    #presentation_projet {
        margin-top: 150px;
        margin-left: 35px;
        margin-right: 35px;
        width: inherit;
        position: inherit;
        display: inherit;
    }

    #images {
        display: inline-block;
        width: inherit;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .img10,
    .img20,
    .img30,
    .img40,
    .img50,
    .img60,
    .img70,
    .img80,
    .img90,
    .img100,
    .img33,
    .img66 {
        width: 100%;
    }

}