ul {
    margin: 35px;
    margin-top: 10vw;
    list-style: none;
}

ul li {
    margin-bottom: 20px;
}

ul li,
ul li h2 {
    font-size: 1.8vw;
}

ul li h2 {
    display: inline;
}

ul li img {
    position: fixed;
    max-width: random(-5, 5)vw;
}