ul {
    margin: 35px;
    margin-top: 120px;
    list-style: none;
}

ul li {
    padding-bottom: 20px;
}

ul li,
ul li h2 {
    font-size: 30px;
}

ul li h2 {
    display: inline;
}

ul li img {
    position: fixed;
    z-index: -2;
    top: 5vw;
    left: 5vw;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

li:hover img {
    opacity: 1;
    cursor: pointer;
}

li:hover p {
    color: gray;
}

li p {
    font-size: ;
}